<!DOCTYPE html>
<html>
  <head>
  <title>Bibliotecario</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

   <!-- Navigation --> 
<nav class="navbar navbar-light" style="background-color: #109a8d; font-size: 25px" role="navigation">
 <a class="navbar-brand">Rent a Book </a>
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Carros", "" %>
    </li>


  </ul>
</nav>

<div align= "center">
    <body background = "https://files.graphiq.com/2307/media/images/Light_Gray_429810_i0.png">
    <%= yield %>
  </div>

  </body>
</html>
